body {
    background-color: rgb(224, 216, 99);
    font-family: 'Permanent Marker';
    font-size: 20px;
}

table
{
    display:inline-table;
    justify-content: center;
    width: 80%;
    border: 3px solid black;
    border-collapse: border;
    padding: .2em .5em .2em .5em;
    text-align: center;

}
th:first-child, th
{
    border-left: 2px solid black;

}
th:last-child
{
    border-right: 2px solid black;
}
th{
    border-bottom: 2px solid black;
    font-size: 26px;
}
tr,td{
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    padding: .75em;
}

input
{
    background: none;
    font-family: 'Permanent Marker';
    border: none;
    border-bottom: 1px solid black;
}
label
{
    font-size: 24px;
}

h1, main
{
    text-align: center;
}

.delete
{
    background: none;
    border: none;
    font-weight: bold;
    font-size: 24px;
}
/* #add
{
    margin-top: 1%;
    background: none;
    border: 1px solid black;
    font-weight: bold;
    font-size: 24px;
} */
/* #add:hover
{
    cursor: pointer;
    border: 1px solid white;
} */
.delete:hover
{
    border: 1px solid white;
    cursor: pointer;
}
